.ul {
    list-style: none;
    display: inline-block;
}

.ul li{
    display: inline-block;
    margin-right: 0.7rem;
    
}

.item {
    color: rgb(185, 185, 185);
    text-decoration: none;
}

.active {
    color: #fff;
}

.logout {
    padding: 0.5rem 1rem;
    color: rgb(40, 40, 255);
    background-color: #fff;
    border: none;
    border-radius: 15%;
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.logout:hover{
    cursor: pointer;
    background-color: lightblue;
    color: #fff;
}